body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0;padding: 5px; }

* {
  font-family: 'Raleway';
  color:  #454545 ;
}

.phylo-tree svg {
    position: fixed;
    top: 80px;
    left: 0px;
    width: 900px;
}
#data-source {
  font-size: 13px;
  padding-top: 3px;
  color:  #454545;
}
#data-source a {
  color: #454545 !important;
  font-weight: 500 !important;
}

.link--active {
  stroke: black !important;
  stroke-width: 1.5px;
}

.link-extension--active {
  stroke-width: 1.5px;
}

.label--active {
  font-weight: bold;
}

g.links {
  stroke: #8c8c8c;
  fill: none;
}

g.link-extensions {
  stroke: #6399cf;
  stroke-width: 1.5px;
}

g.nodes text {
  color:  #454545;
  font-size: 12px;
  cursor: pointer;
}

g.nodes text.emphasize-node {
    font-size: 18px;
    font-weight: 700;
    fill: #444d99;
}

g.nodes text.emphasize-node.label--active {
  font-size: 18px;
  font-weight: 800;
  fill: black;
}

g.nodes .similarity rect {
  transform: rotate(-90deg);
  stroke: #000000b8;
}
text.legend-title  {
  fill:  #454545;
  text-anchor: start;
  font-size: 12px;
  font-weight: 600;
}



h2 {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

#branch-hint {
  width: 300px;
  margin-left: 45px;
  font-size: 12px;
  border: solid #bab9b9 1px;
  padding: 5px;
  margin-top: 5px;
  color: #454545;
}

#toggle-button-container {
  margin-left: 45px;
  display: flex;
}
#toggle-button {
  padding-top: 4px;
}
#toggle-button-label {
  padding-top: 6px;
  font-size: 15px;
  padding-right: 8px;
}
#legend-label {
  font-size: 14px;
  width: 130px;
  display: inline-block;
  margin-left: 72px;
}